<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
  </form>
</div>
<div>
  <form method="post" action="/main/create">
    <input type="text" name="taskName" id="taskName" placeholder="Введите название задачи"/>
    <input type="text" name="notes" id="notes" placeholder="Введите задачу"/>
    <input type="date" name="targetDate" id="targetDate" placeholder="Введите день завершения задачи"/>
    <input type="time" name="targetTime" id="targetTime" placeholder="Введите время завершения задачи"/>
    <input type="text" name="priority" id="priority" placeholder="Обозначьте важность"/>
    <button type="submit">Добавить</button>
  </form>
</div>
<div>
  <h3>Список задач</h3>
  <form method="post" action="/main/filter">
    <input type="text" name="name" placeholder="Введите имя для поиска">
    <button type="submit">Найти</button>
  </form>
  <table>
    <thead>
    <tr>
      <th>Номер задачи</th>
      <th>Название</th>
      <th>Суть</th>
      <th>Дата создания задачи</th>
      <th>Дедлайн</th>
      <th>Приоритет</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
      <td th:text="${task.id}"></td>
      <td th:text="${task.taskName}"></td>
      <td th:text="${task.notes}"></td>
      <td th:text="${task.creationDate}"></td>
      <td th:text="${task.targetDate}+' '+${task.targetTime}"></td>
      <td th:text="${task.priority}"></td>
    </tr>
    </tbody>
  </table>


</div>

</body>
</html>
