<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Title</title>
  <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
  </script>
</head>
<body>
<header>
  <div id="logo">
    Task Tracker
  </div>
  <div id="menu">
    <a href="/">Main Page</a>
    <a href="/main">Personal Page</a>
    <div id="enter">
      <div th:switch="${user}">
        <div th:case="null">
          <a href="/login">Войти</a>/<a href="/registration">Регистрация</a>
        </div>
        <div th:case="*">
          <div id="navbar">
            <span onclick="myFunction()" class="dropbtn" th:text="${user.username}"/>
            <ul id="myDropdown" class="dropdown-content">
              <li><a href="/logout">Выйти</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<form th:action="@{/main/editTask/${task.id}}" method="post">
  <div><label>Task name : <input type="text" name="taskName" id="taskName"  th:value="${task.taskName}"/></label></div>
  <div><label>Notes : <input type="text" name="notes" id="notes" th:value="${task.notes}"/></label></div>
  <div><label>Target Date : <input type="date" name="targetDate" id="targetDate"  th:value="${task.targetDate}"/></label></div>
  <div><label>Target Time : <input type="time" name="targetTime" id="targetTime" th:value="${task.targetTime}"/></label></div>
  <div class="form-group">
    <label>Priority:</label>
    <select name="priority">
      <option th:each="priority : ${priorities}"
              th:value="${priority}" th:text="${priority}" >None/Low Priority/Medium Priority/High Priority</option>
    </select>
  </div>
  <input type="hidden" name="id" th:value="${task.id}"/>
  <div><span th:text="${message}"/></div>
  <button type="submit">Edit</button>
</form>
</body>
</html>
